curationTool/media/
curationTool/staticfiles
__pycache__/
curationTool/*.xml
curationTool/*.rxn
curationTool/reaction*.json*
config.json
staticfiles/
.venv/
.DS_Store
temp_mol.mol
.env
.codex
docker/postgres_data/
