curationTool/media/
curationTool/staticfiles
__pycache__/
curationTool/rdt-2.4.1-jar-with-dependencies.jar
curationTool/*.xml
curationTool/*.rxn
curationTool/reaction*.json*
config.json
staticfiles/
.venv/
.DS_Store
temp_mol.mol
