.div-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.placeholder p {
    color: #999;
    margin: 10px 0;
    font-weight: bold;
}

.balanced-status .status-text {
    background-color: #e0e0e0;
    color: #999;
    padding: 2px 5px;
    border-radius: 4px;
}

.formula-placeholder {
    color: #999;
}

.balance-info {
    color: #999;
}

.atoms-comparison {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.atom-comparison-table {
    width: 70%;
    border-collapse: collapse;
    height: 60%;
}

.atom-comparison-table th, .atom-comparison-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.atom-comparison-table th {
    background-color: #eaeaea;
    border-bottom: 2px solid #000;
}

.charge-info {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #999;
}

/* Container for the loader modal */
.cheminfo-loader-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    z-index: 1000; /* On top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Modal content styling */
.cheminfo-loader-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px; /* Max width */
    text-align: center; /* Centered text */
}

/* Loader animation keyframes */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Modal message styling */
#modal-message {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}


.balanced-text {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 20px;
}
.balanced {
    color: #4CAF50;
    background-color: #E8F5E9;
}
.not-balanced {
    color: #F44336;
    background-color: #FFEBEE;
}
.balanced-info {
    margin: 10px 0;
    font-size: 16px;
}
.vmh-formula-section {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f4f4f4;
    text-align: center;
}
.vmh-formula-display {
    font-size: 18px;
    font-family: monospace;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
