.metabolite {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.metabolite p {
    margin: 5px 0;
}

.metabolite-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Base styles for the toggle button */
.toggle-button {
    background-color:#3198cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Styles for the toggle button when active */
.toggle-button.active {
    background-color:#003755;
}

/* Optional hover effect */
.toggle-button:hover {
    background-color: #003755;
}
.color-legend {
    background-color: #333; /* Dark background for good contrast */
    color: white; /* Text color */
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    font-size: 0.9em;
}

.color-legend .legend-content span {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.metabolite-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin: 10px 0;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}

.info-item {
    font-size: 0.9em;
    color: #333;
    background: white;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
