/* Style for the separator line */
.separator-line {
    border: 1px solid #ccc;
    margin: 20px 0;
}

/* Title for the predicted reactions section */
.predictions-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Container for each gene toggle */
.gene-toggle-container {
    margin-bottom: 15px;
}

/* Style for the arrow-down toggle */
.arrow-down {
    width: 25px;
    height: 25px;
    background: red;
    position: relative;
    cursor: pointer;
}

.arrow-down.active {
    background: blue;
}

.arrow-down:before, .arrow-down:after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    background: white;
    position: absolute;
    top: 20px;
    transition: transform .5s;
}

.arrow-down:before {
    right: 21px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: rotate(45deg);
}

.arrow-down:after {
    right: 10px;
    transform: rotate(-45deg);
}

.arrow-down.active:before {
    transform: rotate(-45deg);
}

.arrow-down.active:after {
    transform: rotate(45deg);
}

/* Style for the ordered list of reactions */
.reaction-list {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #555;
    list-style-position: inside; /* Ensure numbers align neatly inside the list */
}

/* Style for each list item (reaction) */
.reaction-list li {
    margin-bottom: 5px; /* Add space between list items */
}
