
       /* Container for the loader modal */
       .cheminfo-loader-modal {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed position */
        z-index: 1000; /* On top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    }

    /* Modal content styling */
    .cheminfo-loader-content {
        background-color: white;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border-radius: 8px;
        width: 80%;
        max-width: 400px; /* Max width */
        text-align: center; /* Centered text */
    }

    /* Loader animation */
    .loader {
        border: 6px solid #f3f3f3; /* Light grey */
        border-top: 6px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
        margin: 0 auto 20px auto; /* Center loader and margin */
    }

    /* Loader animation keyframes */
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    /* Modal message styling */
    #modal-message {
        margin-top: 10px;
        font-size: 18px;
        color: #333;
    }
