<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'reactions/leader_board.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="{% static 'reactions/js_leaderboard/leader_board.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'reactions/favicon_top.ico' %}">


</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class= "logo">
                <img src="{% static 'reactions/website-icon.png' %}" alt="logo">
                </div>
            <div class="container has-text-centered">
                <h1 class="title">
                    Insights
                </h1>
                
            </div>
        </div>
    </section>

        <div class="container">
            <div class="columns">
                <div class="column is-full">
                    <canvas id="reactionChart"></canvas>
                </div>
            </div>
            <div class="has-text-centered">
                <h2 class="title is-4" id="chartTitle">Total Stats</h2>
            </div>
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Reactions Saved</th>
                            <th>Reactions Added to VMH</th>
                        </tr>
                    </thead>
                    <tbody id="leaderboard-table-body">
                        <!-- Rows will be dynamically populated -->
                    </tbody>
                </table>
            </div>
        </div>
</body>
</html>
