<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curation Tool — Saved Reactions</title>
    <link rel="stylesheet" type="text/css" href="{% static 'reactions/saved_reactions.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'reactions/favicon_top.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">  
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">



</head>
<body>
    <div class="top-menu-saved-reactions">
        <div class= "icon">
            <img src="{% static 'reactions/website-icon.png' %}" alt="icon">
            <button id="backToHome" id = "back-btn" class="ui blue button back-btn">Home Page</button>
        </div>
        <div class="search-bar">
            <i class="fas fa-search search-icon"></i>
            <input type="text" id="searchInput" placeholder="Search reactions..." />
            <div class="filter-container">
                <button id="FilterFlag" class="filter-button" title="Filter by Flags">
                    <i class="fas fa-flag" style="cursor: pointer;"></i> <!-- Adding a flag icon -->
                </button>
                <div id="Filteredflag">
                    <!-- Dropdown content populated dynamically -->
                </div>
            </div>
        </div>

        
        <div class="saved-reaction-user-info saved-reaction-item">
            <button class="ui button saved-reaction-user-display" id="userDisplay">
                <i class="icon user"></i>
                User : {{user_name}}
            </button>
        </div>
        
    </div>
    
    <div class="top-bar">
        <div class="dropdown" id="dropdown" style="display: none;">
            <div class="dropdown-content">
                <label for="geneInput">Enter gene:</label>
                <input type="text" id="geneInput" name="geneInput" placeholder="HGNC Symbol">
                <div class="slider-container">
                    <label for="temperatureSlider">Temperature:</label>
                    <input type="range" min="0" max="1" step="0.1" value="0.1" class="slider" id="temperatureSlider">
                    <span id="temperatureValue">0.1</span>
                    <span class="tooltip-ai">
                        <i class="fas fa-info-circle"></i>
                        <span class="tooltiptext">Temperature controls the randomness of the GPT-4 responses. Lower values make the output more focused and deterministic. Higher values make it more creative.</span>
                    </span>
                </div>                
            </div>
            <button id="submitGene">Submit</button>
        </div>
        <div class="spinner" id="loadingSpinner"></div>
        <div id="errorContainer" style="display: none; color: red;"></div>

    </div>
    <div class="llm-response" id="llmResponseContainer"></div>
    <div class="content">
        <div id="reactionModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 id="reactionModalTitle">Adding the following reactions:</h2>
                <div id="modalReactionsList" class="modal-reactions-list"></div>
                <button id="confirmAddToVMH" class="confirm-add-to-vmh-btn">Confirm</button>
                <div id="loadingIndicator" style="display: none; align-items: center; justify-content: center; flex-direction: column;">
                    <div class="loader"></div>
                    <p id="loadingText">Checking if there are metabolites to be added</p>
                </div>
            </div>
        </div>
        <div id="responseModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 id="responseModalTitle"></h2>
                <div id="responseModalBody"></div>
            </div>
            <span class="close" id="responseModalClose">&times;</span>
        </div>
            <!-- Add Flag Modal -->
    <div id="flagModal" class="flag modal" style="display: none;">
        <div class="modal-content">
            <span class="close" id = "closeflagmodal">&times;</span>
            <h2>Add a Flag To reaction</h2>

            <!-- Dropdown for selecting an existing flag -->
            <label for="flagSelectCustom">Choose a flag to add to reaction:</label>
            <div style="display: flex; align-items: center; margin-bottom: 15px;">
                <div id="flagSelectCustom" class="custom-dropdown">
                    <div class="dropdown-trigger" id ="dropdown-trigger" >None</div>
                    <div class="dropdown-menu">
                        <!-- Flags will be loaded here by JavaScript -->
                    </div>
                </div>
                
                <button type="button" id="createFlagButtonCustom" class="ui button" style="margin-left: 10px;">+</button>
                <button type="button" id="AddFlagtosavedreaction" class="ui button" style="margin-left: 10px;">Add Flag to selected reactions</button>
            </div>

        <!-- Input fields for new flag -->
        <div id="newFlagFields" style="display: none;">
            <label for="flagNameInput">Flag Name:</label>
            <input type="text" id="flagNameInput" placeholder="Enter flag name">

            <label for="flagColorInput">Flag Color:</label>
            <input type="color" id="flagColorInput" value="#ffffff">

            <button type="button" id="saveFlagButton" class="ui button">Create New Flag</button>
        </div>

        </div>
    </div>

        <div id="alertModal" class="custom-alert-modal">
            <div class="custom-alert-content">
                <span class="close-alert-btn">&times;</span>
                <p id="alertMessage"></p>
            </div>
        </div>
        <div class="header">
            <button id="addToVMH" class="ui blue button add-to-vmh-btn">
                <img src="{% static 'reactions/vmh_icon.png' %}" alt="VMH Icon" class="vmh-icon">
                Add Reaction(s) to VMH
            </button>
            <button id="addFlag" class="ui blue button add-flag-btn">Flag Reaction(s)</button>
        </div>
        
        {% if reactions %}
        <table class="reactions-table" id="reactionList">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Subsystem</th>
                    <th>Substrates</th>
                    <th>Direction</th>
                    <th>Products</th>
                    <th>Gene Info</th>
                    <th>Mass Balanced?</th>
                    <th>Charge Balanced?</th>
                    <th>Actions</th>
                </tr>
            </thead>        
            <tbody>
                {% for item in combined_reactions_details %}
                <tr>
                    <td><input type="checkbox" class="reaction-checkbox" data-reaction-id="{{ item.reaction.id }}"></td>
                    <td>
                        {{ item.details.short_name }}
                        {% for flag in item.details.flags %}
                            <i class="fas fa-flag" style="color: {{ flag.color }}; margin-left: 5px;" title="{{ flag.name }}"></i>
                        {% endfor %}
                    </td>
                    
                    <td>{{ item.details.subsystem }}</td>
                    <td>{{ item.details.subs_details }}</td>
                    <td>{{ item.details.direction }}</td>
                    <td>{{ item.details.prods_details }}</td>
                    <td>{{ item.details.gene_info|join:", " }}</td>
                    <td>
                        {% if item.details.balanced_count %}
                            <span class="true-symbol">&#10004;</span>
                        {% else %}
                            <span class="false-symbol">&#10008;</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.details.balanced_charge %}
                            <span class="true-symbol">&#10004;</span>
                        {% else %}
                            <span class="false-symbol">&#10008;</span>
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST" action="{% url 'delete_reaction' %}" onsubmit="return confirmDelete('{{ item.reaction.short_name }}')" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="userID" value="{{ userID }}">
                            <input type="hidden" name="reaction_id" value="{{ item.reaction.id }}">
                            <button type="submit" class="delete-btn">Delete</button>
                        </form>
                        <button class="view-btn">Edit</button>
                        <button type="button" class="clone-btn" onclick="cloneReaction({{ item.reaction.id }})">Clone</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
                  
        </table>
        {% else %}
        <p>No reactions saved.</p>
        {% endif %}
    </div>
    <script type="text/javascript">


    const addToVMHUrl = "{% url 'add_to_vmh' %}";
    const prepAddToVMHUrl = "{% url 'prepare_add_to_vmh' %}";
    const csrfToken = '{{ csrf_token }}';
    const userID = '{{ userID }}';
    var reactions = {{ reactions_json|safe }};
</script>
        <script src="{% static 'reactions/js_savedreactions/reactionChecking.js' %}"></script>
        <script src="{% static 'reactions/js_savedreactions/dynamicEventListeners.js' %}"></script>
        <script src="{% static 'reactions/js_savedreactions/reactionViewAndDelete.js' %}"></script>
        <script src="{% static 'reactions/js_savedreactions/flag_saved_reaction.js' %}"></script>
        <script src="{% static 'reactions/js_savedreactions/FlagFilter.js' %}"></script>
        <script src="{% static 'reactions/js_savedreactions/utilities.js' %}"></script>
        <script src="{% static 'reactions/js_savedreactions/handleAdd2VMH.js' %}"></script>
        <script src="{% static 'reactions/js_savedreactions/search_reaction.js' %}"></script>
        
</body>
</html>
