<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Constructor — VMH Workspace</title>
		<link rel="stylesheet" type="text/css" href="{% static 'reactions/css/saved_reactions.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'reactions/css/VMH_workspace.css' %}" />
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'reactions/imgs/favicon.ico' %}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
	</head>
	<body>
		<div class="top-menu-saved-reactions">
			<div class="icon">
				<img src="{% static 'reactions/imgs/website-icon.png' %}" alt="icon" />
				<button id="backToHome" class="ui blue button back-btn">Home Page</button>
				<button id="backToSavedReactions" class="ui blue button back-btn">Saved Reactions</button>
			</div>

			<div class="saved-reaction-user-info saved-reaction-item">
				<button class="ui button saved-reaction-user-display" id="userDisplay">
					<i class="icon user"></i>
					User : {{user_name}}
				</button>
			</div>
		</div>

		<div class="content">
			<div id="alertModal" class="custom-alert-modal">
				<div class="custom-alert-content">
					<span class="close-alert-btn">&times;</span>
					<p id="alertMessage"></p>
				</div>
			</div>

			<div id="loadingIndicator" style="display: none; align-items: center; justify-content: center; flex-direction: column">
				<div class="loader"></div>
				<p id="loadingText">Checking if there are metabolites to be added</p>
			</div>
			<div id="responseModal" class="modal">
				<div class="modal-content">
					<span class="close" id="responseModalClose">&times;</span>
					<h2 id="responseModalTitle"></h2>

					<div id="responseModalBody"></div>
				</div>
			</div>

			<div class="tabs">
				<div class="tab-header">
					<button class="tab-link active" data-tab="tab1">Active</button>
					<button class="tab-link" data-tab="tab2">Added</button>
				</div>

				<div id="tab1" class="tab-content active">
					<!-- sub-tabs -->
					<div class="subtabs">
						<button class="subtab-link active" data-subtab="tab1-reaction">Reaction</button>
						{% comment %} <button class="subtab-link" data-subtab="tab1-metabolite">Metabolite</button>
						<button class="subtab-link" data-subtab="tab1-gene">Gene</button> {% endcomment %}
					</div>

					<div id="tab1-reaction" class="subtab-content active">
						<!-- LEFT column – list of reaction abbreviations -->
						<div class="ws-rxn-layout">
							<div class="ws-rxn-list">
								<h4 class="ui header">Name</h4>
								<ul id="wsAvailableReactionList" class="ui middle aligned selection list"></ul>
							</div>

							<!-- RIGHT column – editable details -->
							<div class="ws-rxn-details">
								<!-- populated dynamically when a list item is clicked -->
								<div id="wsAvailableReactionDetails" class="ui segment placeholder">
									<p>Select a reaction on the left …</p>
								</div>
							</div>
						</div>
					</div>
					{% comment %}
					<div id="tab1-metabolite" class="subtab-content">
						<p>Metabolite panel. Available soon...</p>
					</div>
					<div id="tab1-gene" class="subtab-content">
						<p>Gene panel. Available soon...</p>
					</div>
					{% endcomment %}
				</div>

				<div id="tab2" class="tab-content">
					<!-- sub-tabs -->
					<div class="subtabs">
						<button class="subtab-link active" data-subtab="tab2-reaction">Reaction</button>
						{% comment %} <button class="subtab-link" data-subtab="tab2-metabolite">Metabolite</button>
						<button class="subtab-link" data-subtab="tab2-gene">Gene</button> {% endcomment %}
					</div>

					<div id="tab2-reaction" class="subtab-content active">
						<table class="ui celled table">
							<thead>
								<tr>
									<th>Abbreviation</th>
									<th>Formula</th>
									<th>Added At</th>
								</tr>
							</thead>
							<tbody id="addedReactionTableBody"></tbody>
						</table>
					</div>
					<div id="tab2-metabolite" class="subtab-content">
						<p>Metabolite panel. Available soon...</p>
					</div>
					<div id="tab2-gene" class="subtab-content">
						<p>Gene panel. Available soon...</p>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			const addToVMHUrl = "{% url 'add_to_vmh' %}";
			const prepAddToVMHUrl = "{% url 'prepare_add_to_vmh' %}";
			const csrfToken = '{{ csrf_token }}';
			const userID = '{{ userID }}';
			const editReactionURL = "{% url 'edit_reaction_info' %}";
			const updateConfidenceScoresURL = "{% url 'update_confidence_score' %}";
			var reactions_active = {{ reactions_active |safe }};
			var reactions_added = {{ reactions_added |safe }};
			         console.log('reactions_added:', reactions_added);
		</script>
		<script src="{% static 'reactions/js_saved_reactions/dynamicEventListeners.js' %}"></script>
		<script src="{% static 'reactions/js_saved_reactions/reactionViewAndDelete.js' %}"></script>
		<script src="{% static 'reactions/js_saved_reactions/utilities.js' %}"></script>
		<script src="{% static 'reactions/js/utilityFunctions.js' %}"></script>
		<script src="{% static 'reactions/js_VMH_workspace/handleAdd2VMH.js' %}"></script>
		<script src="{% static 'reactions/js_VMH_workspace/workspace.js' %}"></script>
	</body>
</html>
